html{
    overflow: hidden;
    width: 100%;
    height: 100%;
}
body{
    margin: 0px;
    width: 100%;
    height: 100%;
}
.main{
    margin: 0px;
    width: 100%;
    height: 100%;
}
.main__image{
    width: 100%;
    height: 100%;
}
.main__buttonleft{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    position: absolute;
    top: 50%;
    left: 0%;
    font-size: 40px;
    color: darkgoldenrod;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
}
.main__buttonright{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    top: 50%;
    left: 97.3%;
    font-size: 40px;
    color: darkgoldenrod;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
}
.main__input{
    position: absolute;
    background-color: transparent;
    width: 400px;
    height: 100px;
    top: 15%;
    left: 40%;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid;
    border-radius: 20px;
    font-size: 40px;
    text-align: center;
}
.main__city{
    position: absolute;
    font-size: 60px;
    left: 43%;
}
.main__weather{
    position: absolute;
    width: 30%;
    height: 45%;
    left: 35%;
    top: 30%;
}
.main__weather-description{
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin: 0 auto;
}
.main__weather-photo{
    width: 30%;
    position: relative;
    left: 35%;
}
.main__weather-temp{
    font-size: 35px;
    text-align: center;
}
.main__divCitata{
    position: absolute;
    width: 80%;
    height: 15%;
    top: 80%;
    left: 10%;
}
.main__divCitata-citata{
    text-align: center;
    font-size: 30px;
    color: darkgoldenrod;
}